@media only screen and (max-width:1006px){
    .navlist{
        flex-direction: column;
    }
    .navbar{
        height: 500px;
        flex-direction: column;
        transition: all 0.3s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    .boxmain{
        flex-direction: column-reverse;
        max-width: 100%;
        padding-top:110px;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 60px;
        background-color: black;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;
    }
    .text-sm{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .fhalf{
        padding-right: 90px;
    }
    .text-big{
        font-size: 30px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .text-sm{
        font-size: 18px;
        font-family: 'Ubuntu', sans-serif;
    }
}
